* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: relative;
  width: calc(100% - 200px);
  height: 60%;
  margin: 20px auto;
}
.slider img {
  width: 100%;
  height: 600px;
  opacity: 1;
  transition: 0.5s;
}
i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
}
.slider i:first-of-type {
  left: -60px;
}
.slider i:last-of-type {
  right: -60px;
}
